@import (less) "components/font.css";

.pop-over {
  position: fixed;
  bottom: 0;
  right: 20px;
  padding: 20px;
  text-align: center;
  background: blue;
  color: #FFFFFF;
  font-family: "Bebas Neue";
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  &.upDown {
    bottom: -500px;
    &.hide {
      opacity: 0;
    }
  }

  &.opacity {
    opacity: 1;

    &.hide {
      opacity: 0;
    }
  }

  &__title {
    font-size: 48px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 24px;
  }
}

