block vars
    - var pageTitle = 'PopOver'


doctype html

html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title=pageTitle

        block styles
            link(rel='stylesheet', href='./build/style/popOver.css')

        block scripts
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
            script(src='./src/js/popOver.js')
            //script(src='./build/js/popOver.min.js')
            script.
                        $(document).ready(function () {
                            $('.pop-over').popOver();
                        });

    body

        main
            .pop-over